= form.input :name
= form.input :team,:collection => ["Arsenal", "Legia", "Juventus"]
= form.input :position,:collection => ["Goalkeeper", "Defender", "Midfielder", "Attacker"]
= form.input :price,:collection => (4..10)
= form.submit